<% provide(:title,  'Inventory') %>

<div ng-app="aquarium" ng-controller="objectTypesCtrl as object_types" class='object_types'>

  <div class='two-column'>

    <div class='two-column-left'>
      <div class='two-column-control'>
        <h4>Object Types</h4>
        <ul>
         <li ng-repeat="handler in handlers">
           <a href="#" class="clickable" ng-click="$parent.current_handler = handler">{{handler}}</a>
         </li>
        </ul>
      </div>  

      <div class='two-column-control' ng-if="errors.length > 0">
        <h4>Errors</h4>
        {{errors}}
      </div>             

    </div>

    <div class='two-column-right'>

      <div class='spanner-row border-top' ng-repeat="object_type in object_types | filter: { handler: current_handler }">
        <opener model="object_type.open"></opener>
        <spanner w=90 p=20>{{object_type.name}}</spanner>
        <div class='spanner-row' ng-if="object_type.open">
          {{object_type}}
        </div>

      </div>

    </div>

  </div>

</div>
