.sequence-editor {

  .sequence {
    width: 90%;
    height: 100%;
  }

  .sequence-column {
    padding-bottom: 100px;
  }

  .base {
    display: inline-block;
    font-family: Courier;
  }

  .base-selected {
    background: #afa;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }  

}