<div class='sequence-editor'>
  <div class='two-column'>
    <div class='two-column-left space'>
      [<span id="begin"></span>, <span id="end"></span>]
      <div id="features"></div>
    </div>
    <div class='two-column-right sequence-column'>
      <h2>Sequence <%= params[:id] %></h2>      
      <div id="sequence" class="sequence noselect"><span>Retrieving sequence...</span></div>
    </div>
  </div>
</div>

<script>

SE = new SequenceEditor();
SE.init(<%= params[:id] %>);

</script>